
{% extends "base.html" %}

{% load static %}


{% block title  %} Home {% endblock title %}

{% block content %}



   <!-- signup content start-->
   <div class="container my-5 signup_content_area">
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <div class="signup_image_container">
                <div class="signup_content">
                    <h2 class="signup_content_heading_text">Let’s be a <br> digital farmer,<br> today!</h2>
                    <p class="signup_content_text">We are your trusted digital <br> agriculture funding platform</p>
                </div>
            </div>
        </div>            
        
        <div class="col-lg-6 col-md-12">
            <div class="signup_form_container p-4 rounded">
                <form>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div>
                    <button type="submit" class="custom_button">Sign In</button>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock content %}
