{% load static%}
<link rel="stylesheet" href="{% static 'css/style.css' %}">


    <!-- footer start -->
    <div class="footer_container px-3 py-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 col-sm-12">
                    <h3 class="footer_menu_header">About</h3>
                    <div>
                        <p><a href="{% url 'about-us' %}">About Us</a></p>
                        <p><a href="#" class="footer_link">Career</a></p>
                        <p><a href="{% url 'faq' %}">FAQ</a></p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12">
                    <h3 class="footer_menu_header">Legal</h3>
                    <div>
                        <p><a href="#" class="footer_link">Risk Policy</a></p>
                        <p><a href="#" class="footer_link">Privacy and Policy</a></p>
                        <p><a href="#" class="footer_link">Return of Investment</a></p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12">
                    <h3 class="footer_menu_header">Contact</h3>
                    <div>
                        <p><i class="footer_link">Phone: +123456789 </i></p>
                        <p><i class="footer_link">Email: example@example.com </i></p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12">
                    <h3 class="footer_menu_header">Company Information</h3>
                    <div style="display: flex; flex-direction: row;">
                        <p style="color: white; margin-right: 20px;">Address: 123 Street, City, Country</p>
                        <p style="color: white; margin-right: 20px;">Registration No: ABC123456</p>
                        <p style="color: white;">License No: XYZ789</p>
                    </div>
                </div>
                
                
            </div>
        </div>
    </div>
    <!-- footer end -->
